<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
        <h1>Quora posts</h1>
    <% for(post of posts){ %>
        <h3 class="user"> @<%= post.username %></h3>
        <h7><%=post.content %></h7>
        <br><br>
        <a href="http://localhost:8080/posts/<%=post.id%>">Show detail</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE"><button >Delete post</button></form>


        <hr>
    <%}%>
</div>
<br><br>
<a href="http://localhost:8080/posts/new"><button class="new">Add New post</button></a>
</body>
</html>